* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  position: relative; }

body {
  font-family: Barlow,sans-serif !important;
  background-color: #eaeded;
  height: 100%; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-weight: 700; }
  body h2 {
    font-size: 24px;
    color: #666;
    font-weight: 700;
    position: relative;
    margin-bottom: 10px; }
  body h3 {
    margin-bottom: 10px; }
  body a {
    color: #0791e6;
    text-decoration: none; }
  body a:hover, body a:focus, body select:hover, body select:focus, body input:hover, body input:focus, body button:hover, body button:focus {
    outline: none;
    box-shadow: none; }
  body ul {
    margin: 0;
    padding-left: 0; }
    body ul li {
      list-style-type: none; }
  body img {
    max-width: 100%; }
