
body {
	&.home {
		section {
            position: relative;
			h2 {
				strong {
					color: $color_blue;
				}
				margin-bottom: 40px;
			}
            &.section-banner {
                width: 100%;
                height: 600px;
                position: relative;
                background-size: cover;
                background-repeat: no-repeat;
                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    content: '';
                    opacity: .3;
                    background: #000000;
                }
                .container {
                    height: 100%;
                    .row {
                        height: 100%;
                        z-index: 1;
                        position: relative;
                        color: $color_white;
                        padding-right: 100px;
                        p {
                            font-size: 20px;
                        }
                    }
                }

            }
            &.section-services {
                padding: 50px 0;
				text-align: center;
                .service-content {
                    height: 170px;
                    display: block;
                    text-decoration: none;
                    color: #fff;
                    border-radius: 10px;
                    position: relative;
                    background-color: #fff;
                    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
                    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
                    -ms-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
                    -o-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
                    box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
                    -webkit-transition: all .5s linear;
                    -moz-transition: all .5s linear;
                    -ms-transition: all .5s linear;
                    -o-transition: all .5s linear;
                    transition: all .5s linear;
                    -webkit-transform: translateY(-15%);
                    -moz-transform: translateY(-15%);
                    -ms-transform: translateY(-15%);
                    -o-transform: translateY(-15%);
                    transform: translateY(-15%);
                    display: -webkit-flex;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    opacity: 1;
                    -webkit-transform: translateY(-0%);
                    -moz-transform: translateY(-0%);
                    -ms-transform: translateY(-0%);
                    -o-transform: translateY(-0%);
                    transform: translateY(-0%);
                    .ui-box-icon {
                        position: relative;
                        bottom: 27px;
                        h3 {
                            color: rgba(0,0,0,0.30);
                            font-size: 18px;
                        }
                    }
                    .service-item {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        color: #fff;
                        text-decoration: none;
                        border-radius: 10px;
                        visibility: hidden;
                        opacity: 0;
                        background-color: #fff;
                        -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, .1);
                        -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
                        -ms-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
                        -o-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
                        box-shadow: 0px 0px 30px rgba(0, 0, 0, .1);
                        z-index: 1;
                        display: -webkit-flex;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        -webkit-transition: all .5s linear;
                        -moz-transition: all .5s linear;
                        -ms-transition: all .5s linear;
                        -o-transition: all .5s linear;
                        transition: all .5s linear;
                        .ui-box {
                            max-width: 228px;
                            width: 100%;
                            text-align: center;
                            p  {
                                font-family: "Open Sans";
                                font-size: 15px;
                                line-height: 19px;
                                color: rgba(0, 0, 0, 0.35);
                            }
                        }
                    }
                    &:hover {
                        .service-item {
                            -webkit-transform: scale(1.15,1.15);
                            -moz-transform: scale(1.15,1.15);
                            -ms-transform: scale(1.15,1.15);
                            -o-transform: scale(1.15,1.15);
                            transform: scale(1.15,1.15);
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
                .col-md-3 {
                    margin-bottom: 25px;
                }
            }
            &.section-slider {
                padding: 50px 0;
                text-align: center;

                /*.content-slider {
                    max-width: 980px;
                    width: 100%;
                    margin: 0 auto;
                    article {

                        .ui-box {
                            width: 100%;
                            text-align: center;
                            .ui-box-bg {
                                max-width: 341px;
                                width: 100%;
                                border-radius: 10px;
                                overflow: hidden;
                                height: 539px;
                                visibility: visible;
                                position: relative;
                                display: inline-block;
                                vertical-align: top;
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;
                                visibility: visible;
                                cursor: pointer;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                            }
                        }
                    }
                    .slick-slide {
                        &.slick-active {
                            &[data-slick-index="-1"],
                            &[data-slick-index="1"] {
                                article {
                                    .ui-box {
                                        .ui-box-bg {
                                            -webkit-transform: scale(.9,.9);
                                            -moz-transform: scale(.9,.9);
                                            -ms-transform: scale(.9,.9);
                                            -o-transform: scale(.9,.9);
                                            transform: scale(.9,.9);
                                        }
                                    }
                                }
                            }
                            &[data-slick-index="-2"],
                            &[data-slick-index="2"] {
                                article {
                                    .ui-box {
                                        .ui-box-bg {
                                            -webkit-transform: scale(.8,.8);
                                            -moz-transform: scale(.8,.8);
                                            -ms-transform: scale(.8,.8);
                                            -o-transform: scale(.8,.8);
                                            transform: scale(.8,.8);
                                        }
                                    }
                                }
                            }
                        }
                        &.slick-current.slick-active.slick-center {
                            color: cyan;
                            article {
                                .ui-box {
                                    .ui-box-bg {
                                        -webkit-transform: scale(1,1);
                                        -moz-transform: scale(1,1);
                                        -ms-transform: scale(1,1);
                                        -o-transform: scale(1,1);
                                        transform: scale(1,1);
                                    }
                                }
                            }
                        }
                    }
                }*/
            }
            &.section-primera-asesoria{
                transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
                padding: 80px 0px 80px 0px;
                background-color: #1D3157;
                background-image: url(../images/asesoria-gratuita.jpg);
                background-position: center left;
                background-repeat: no-repeat;
                background-size: 60vw auto;
                .asesoria-overlay {
                    background-color: transparent;
                    background-image: linear-gradient(270deg, $color_blue 50%, rgba(56, 125, 255, 0.48) 100%);
                    opacity: 1;
                    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    position: absolute;
                }
                .content-asesoria {
                    //width: 100%;
                    margin: 0% 0% 0% 50%;
                    position: relative;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    h6 {
                        color: #D2E2FF;
                        padding-left: 0;
                    }
                    p {
                        color: $color_white;
                        padding-left: 0;
                        font-size: 32px;
                        font-weight: 700;
                        margin-bottom: 31px;
                    }
                    a {
                        background-color: rgba(247, 250, 255, 0);
                        border-style: solid;
                        border-width: 1px 1px 1px 1px;
                        border-color: #D2E2FF;
                        box-shadow: 0px 8px 16px -8px rgba(56, 125, 255, .5);
                        color: $color_white;
                        display: inline-flex;
                        align-items: center;
                        padding: 11px 19px;
                        width: auto;
                        span {
                            font-weight: 900;
                        }
                        &:hover {
                            color: $color_blue;
                            background-color: $color_white;
                        }
                    }
                }
            }
            &.section-contact {
                position: relative;
                margin-bottom: 100px;
                .contact-header {
                    background-color: $color_blue;
                    color: $color_white;
                    border-radius: 6px 6px 0px 0px;
                    display:flex;
                    justify-content: space-between;
                    padding: 40px;
                    span {
                        background-color: rgba(255, 255, 255, 0.16);
                        color: #FFFFFF;
                        -webkit-border-radius: 50%;
                        border-radius: 50%;
                        width: 64px;
                        height: 64px;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        img {
                            width: 32px;
                        }
                    }
                    .box-wrapper {
                        display:flex;
                        .box-content {
                            padding-left: 12px;
                            p {
                                color: #D2E2FF;
                            }
                        }
                    }
                }
                .contact-body {
                    background-color: $color_white;
                    box-shadow: 0px 0px 80px -16px rgba(0, 0, 0, .16);
                    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
                    border-radius: 0px 0px 6px 6px;
                    h3 {
                        margin-bottom: 20px;
                    }
                    .content-form {
                        padding: 40px 40px 24px 40px;
                        .form-control {
                            margin-bottom: 20px;
                            background-color: #F6F6F6;
                            border: 1px solid #818a91;
                            font-weight: 600;
                            min-height: 45px;
                        }
                        button {
                            background-color: $color_blue;
                            padding: .7rem 1.2rem;
                        }
                    }
                }
            }
        }
	}

}
